.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.gitattributes
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# custom
.husky/**
.editorConfig
*.cjs
!commitlint.config.cjs
tsconfig.*
*.vsix
pnpm-lock.yaml
